
__pycache__/
*.py[cod]
*$py.class

venv/
env/
.env

.vscode/
*.code-workspace


.ipynb_checkpoints/
*/.ipynb_checkpoints/

*.csv
*.xlsx
*.json
*.h5
*.parquet
data/

keys.py
secrets.py
config.py

*.o
*.obj
*.exe
*.dll
*.so
*.dylib
build/

.DS_Store
Thumbs.db